* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(25, 109, 115), yellow);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.one {
    width: 50%;
    margin: auto;
}

.two {
    width: 50%;
}

#rails th,
th,
td {
    text-align: left;
    padding: 8px;
}

a {
    color: rgb(9, 62, 128);
    text-decoration: none;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #0f5f12;
    color: white;
}

tr:nth-child(even) {
    background-color: #c7d4bf;
}